{% extends 'base.html.twig' %}

{% block title %}Edit Livraison1{% endblock %}

{% block body %}
    <h1>Edit Livraison1</h1>

    {{ include('livraison1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_livraison1_index') }}">back to list</a>

    {{ include('livraison1/_delete_form.html.twig') }}
{% endblock %}
