{% extends 'base.html.twig' %}

{% block title %}New Livraison1{% endblock %}

{% block body %}
    <h1>Create new Livraison1</h1>

    {{ include('livraison1/_form.html.twig') }}

    <a href="{{ path('app_livraison1_index') }}">back to list</a>
{% endblock %}
