{% extends 'baseback.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mt-5 mb-4">Chatbot</h1>
    
    <form method="POST">
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    {% if response %}
        <div class="mt-4">
            <strong>Response:</strong> {{ response }}
        </div>
    {% endif %}
</div>
{% endblock %}
